@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Roboto:wght@100..900&display=swap');

body {
  background-color: #F0FCFF;
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
  font-size: 1rem;
  color: #2D2D2D;
  line-height: 1;
}

code {
  font-family: 'Roboto',Arial, Helvetica, sans-serif;
}
